go 1.27.1

use (
	.
	./akeylesstest
	./awssmtest
	./azsecretstest
	./cfsecretstest
	./gcpsmtest
	./ibmsmtest
	./infisicaltest
	./keepertest
	./ocisecretstest
	./onepasswordtest
	./openbaotest
	./openbaotest/shim
	./vaulttest
)
